li {
  list-style: none;
}
.nav-linkz li a {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}

img {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px rgb(172, 170, 170);
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}